  
  
       <!--  <div class="row">
          <div class="col-md-9">
            <h4>If you want to contact us please fill out the form below we get back to you as soon as possible.</h4>
            <h4>Thank you</h4>
              <div class="col-md-6">
              <form id="new_contact" class="simple_form form-horizontal" novalidate="novalidate" method="post" 
                action="/contacts/update" >
                <label class="string required control-label" for="contact_name"><abbr title="required">*</abbr>Name</label>
                <input id="name" class="form-control" type="text" size="61" name="contact[name]"></input>
                <label class="email required control-label" for="contact_email"><abbr title="required">*</abbr>Email</label>
                <input id="email" class="form-control" type="email" value="" size="61" required="required" name="contact[email]"></input>
                <label class="text required control-label" for="contact_message"><abbr title="required">*</abbr>Message</label>
                <textarea id="text" class="form-control" type="text" rows="10" name="contact[message]" cols="40"></textarea>
                <input class="btn btn-primary btn-style " type="submit" value="Send" name="commit"></input>
                <button class="btn btn-default btn-style"><a href="/">Cancel</a></button>
                </form>
              </div>
            </div>  
          -->