<div class="container">
  <div class="row"> 
    <div class="col-lg-10 ">              
      <h2>Create Gadget</h2>
      <%= form_for(@gadget,:url => { :action => 'create',:method =>'post'}) do | gadget | %>
      <%= render( :partial => "form", :locals => { :gadget => gadget } ) %>
      <div class="form-group"> 
        <div class="col-md-8 col-md-offset-2"> 
         <div class="text-center"> 
        <%= link_to "Back", gadgets_path, class: 'btn btn-primary' %>
        <%= gadget.submit "Save", class: 'btn btn-primary' %>
        </div>
        </div> 
      </div> 
      <% end %>
    </div>
  </div>   
</div>
