.container
  .row
    .col-lg-10
      %h2 Create Courses
      = form_for( @course, :url => { :controller => 'users',:action => 'sign_in',:method =>'post'}) do | course |
        = render( :partial => "form", :locals => { :course => course } )
        .form-group
          .col-md-8.col-md-offset-2
            = course.submit "Create Course",class: "btn btn-primary",style:"margin-left: 7%"
            = link_to 'Back', courses_path, :method => 'get', :class => "btn btn-default"
            