<% if user_signed_in? %>
<div class="sidebar-padding">
	<div class="list-group">
        <%= link_to 'Users', users_admin_index_path, :method => 'get', :class => "list-group-item active"%>
        <%= link_to 'Courses', courses_path, :method => 'get', :class => "list-group-item active"%>
        <%= link_to 'Gadgets Inventory', gadgets_path, :method =>'get', :class => "list-group-item"%>
    </div>
</div>
<% else %>
<div><h1>Welcome to Gadgets</h1></div>
<% end %>
